################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Datovy.Edam/FileContentIndex/11f7cca3-398e-4b9b-83b8-701ed0a3462d.vsidx
/.vs/Datovy.Edam/FileContentIndex/50c1d45c-c1d6-4db5-85a9-7b9d88b81496.vsidx
/.vs/Datovy.Edam/FileContentIndex
